body {
    background-color: lightgray;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vb;
}

#main-btn {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: 0.05s ease;
}

#main-btn:active{
    background-color: blue;
}

.click-btn {
    width: 150px;
    height: 150px;
    outline: none;
    border: none;
    margin: 10px;
    transition: 0.1s ease;
    border-radius: 25px;
}

rb{
    border: 1px solid black;
    display: contents;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

.active-btn{
    transform: scale(1.1);
}

.clicked-btn {
    animation: appear_win 0.5s;
}

@keyframes appear_win {
    20% {transform: scale(0.9);}
    70% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

.win_p {
    color: black;
}

.btns-bg {
    width: 450px;
    height: 450px;
    border: 3px solid green;
    border-radius: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns-bg-active {
    background-color: rgb(0, 255, 0, 0.5);
}

.btns-bg-passive {
    background-color: rgb(0, 255, 0, 0.1);
}

#start-btn {
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid black;
    transition: 0.15s;
}

#start-btn:active {
    background-color: gray;
}